/.idea
/.venv
/consola_desmovilizados.py
/coordenadas.txt
/cosaseda.py
/desmovilizados_esqueleto.py
/estadisticas.csv
/exportacionestrest.py
/extotest.txt
/ip.ipynb
/mapa.png
/test.py
/Tests2.py
/__pycache__